body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
    font-family: arial,sans-serif;
}
.container{
    text-align: center;
    background: darkcyan;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0,0,0.2);
}
h1{
    color: #333;
    margin-bottom: 20px;
    margin-left: 1220px;
}
.buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #06353a;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background: #009fb3;
}
#count{
    font-size: 25px;
    font-weight: bold;
}
